<h1>Messages</h1>
<div>
  <a href="/new">New Message</a>
</div>
<% messages.forEach((message) => { %>
<div class="message">
  <div><%= message.text %></div>
  <div><%= message.user %> | <%= message.created %> | <a href="/<%= message.id %>">Show</a></div>
</div>
<% }); %>
