<div>
  <a href="/new">New Message</a>
</div>
<% messages.forEach((message) => { %>
<div class="box message-list-item">
  <div class="message-list-item-user"><%= message.user %>:</div>
  <div class="message-list-item-text"><%= message.text %></div>
  <div class="message-list-item-date"><%= message.created %></div>
  <div><a href="/<%= message.id %>">Show</a></div>
</div>
<% }); %>
