<a href="/">View Messages</a>
<% locals.errors && locals.errors.forEach((error) => { %>
<div class="error"><%= error %></div>
<% }) %>
<form method="post" action="/new">
  <label for="author">Author:</label>
  <input
    name="author"
    id="author"
    type="text"
    value="<%= message.author %>"
    required
  />
  <label for="content">Text:</label>
  <textarea name="content" id="content" required>
<%= message.content %></textarea
  >
  <button type="submit">Post</button>
</form>
