<a href="/">View Messages</a>
<div class="box message-full">
  <div class="subtle">On <b><%= message.created.toLocaleString(language) %></b> user <b><%= message.author %></b> wrote:</div>
  <p><%= message.content %></p>
</div>
