:root {
  --border: 1px solid #e0e0e0;
  --content-min-width: 320px;
  --blue: #305cde;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  max-width: 1200px;
  min-width: var(--content-min-width);
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  min-width: var(--content-min-width);
}

textarea,
input {
  width: 100%;
  border: var(--border);
  padding: 0.5em;
  font-size: 1rem;
}

textarea:focus,
input:focus {
  border: 1px solid var(--blue);
  outline: 0;
}

textarea {
  height: 10em;
  min-width: var(--content-min-width);
}

button {
  margin-top: 1em;
  padding: 0.8em 1.4em;
  background-color: var(--blue);
  color: #fff;
  border: 0;
  border-radius: 8px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

a,
a:visited {
  color: var(--blue);
}

a:hover {
  text-decoration: none;
}

input,
textarea,
.box {
  width: 100%;
  padding: 1em;
  border: var(--border);
  border-radius: 8px;
  box-shadow: 5px 5px 5px #eee;
}

p {
  white-space: pre-wrap;
}

.message-list-item {
  display: flex;
  gap: 1em;
  align-items: center;
}

.message-list-item a:visited {
  color: #a47dab;
}

.message-list-item-user {
  width: 175px;
  font-weight: bold;
  text-align: right;
}

.message-list-item-text {
  flex: 1;
}

.message-list-item-date {
  font-size: 0.8rem;
  color: #666;
}

.message-full {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.error {
  color: #fa003f;
}

.subtle {
  font-size: 0.8rem;
  color: #666;
}
